# Archives we're testing with
0.*
0

3rdparty/*

# for dos and windows tools, just store the distribution ZIP in toolsdist/ not the binary itself. 
tools/*.EXE
tools/*.exe
tools/*.dll

__pycache__

.vscode
