# Archives we're testing with
0.*
0

# for dos and windows tools, just store the distribution ZIP in toolsdist/ not the binary itself. 
tools/*
!tools/idarc
!tools/SCANCODE.COM

__pycache__

.vscode

